.cancel-button {
    color: #eb445a !important;
  }

  .weather-page {
    --ion-background-color: #f5f5f5; 
}
  
  .selected-city {
    text-align: center;
    margin-top: 20px;
    background-color: #f2f2f2;
    color: #008080;
  }

  .selector {
    color: red;
  }
  
  .selected-city h2 {
    padding-top: 10px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #004d99;
  }
  
  .temperature {
    font-size: 28px;
    font-weight: bold;
  }
  
  .description {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .weather-icon {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .humidity,
  .wind-speed {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    margin-top: 20px;
  }
  
  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    margin: 5px; 
    border-radius: 10px;
    background-color: #00a3e0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    flex-shrink: 0; 
  }
  
  .temperature {
    font-size: 20px; 
    font-weight: bold;
    margin-top: 5px; 
    text-align: center;
    color: #008080;
  }
  
  .temperature p {
    margin: 2px 0; 
  }
  
  .temperature-icon {
    font-size: 28px; 
    margin-bottom: 5px; 
    color: #cd9a0f;
  }
  
  .calendar-date {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 5px; 
    text-align: center;
    color: #ffffff;
  }
  
  .calendar-day-of-week {
    font-size: 18px; 
    margin-bottom: 2px; 
    text-align: center;
    color: #ffffff;
  }

  .calendar-day .temperature {
    color: #ffffff;
  }


  